@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px 
Desktop: 992px até 1200px 
Grandes telas: acima de 1200px
*/

/* Breakpoints típicos (2025)
Mobile pequeno: até 640px
Mobile médio: 640px até 768px
Tablet: 768px até 1024px
Desktop pequeno: 1024px até 1280px
Desktop médio: 1280px até 1536px
Grandes telas: acima de 1536px
*/

@media screen and (min-width: 768px ) {

    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu l1{
        display: inline-block;
    }

    main {
        width: 768px;
    }
}