@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px 
Desktop: 992px até 1200px 
Grandes telas: acima de 1200px
*/

/* Breakpoints típicos (2025)
Mobile pequeno: até 640px
Mobile médio: 640px até 768px
Tablet: 768px até 1024px
Desktop pequeno: 1024px até 1280px
Desktop médio: 1280px até 1536px
Grandes telas: acima de 1536px
*/

@media screen and (max-width: 580px) {

  header,
  header > nav {
    display: flex;
    flex-flow: column nowrap;
  }

  header > h1 {
    flex-basis: 50px;
  }

  header > nav > a {
    width: 90vw;
  }
}
