@charset "UTF-8"
        
        *{
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        ::-webkit-scrollbar{
            width: 0px;
            height: 0px;
        }

        body{
            margin: 0px;
            padding: 0px;
        }

        img{
            width: 100vw;
             
        }

        a {
            display: block;
            background-color: black;
            color: white;
            padding: 20px;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
        }

        a:hover{
            background-color: rgba(65, 55, 55, 0.76);
            border-radius: 25px;
        }