@charset "UTF-8"

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{   
    width: 0px;
    height: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;

}

body{
    background-color: rgb(151, 149, 149);
}

main{
    position: relative;
    height: 100vh;    
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
#redes-sociais{
    text-align: right;
}
#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}
#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.6);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    transition: transform 0.5s;
}