@charset "UTF-8"

/* 
   Paleta de cores 
   Verde: #49a09d
   Lilás: #5f2c82 
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scrollbar-width: none;
    
}

::-webkit-scrollbar {
  display: none;
}


body, html{
    background-color: #5f2c82  ;
    height: 100vh;
    width: 100vw;
    
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    transform: translate(-50%, -50%);
    transition: width .5s, height .5s ;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/dente-de-leão.jpg) no-repeat;
    background-size: cover;
    background-position:  center left;    
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 5px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo{
    display: block;
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    border-radius: 8px;
    
}

form label {
    display: none;
}

div.campo{
  display: flex; 
  align-items: center; 
  height: 50px; 
}

div.campo > span {
    display: flex;
    font-size: 2em;
    width: 30px;

    justify-content: center;
    align-items: center;
    color: white;
    
    transform: translateY(6px);
}

div.campo > input {
    font-size: 1em;
    width: 191px;
    height: 80%;  
    margin: 5px;          
    border: 0;
    border-radius: 8px;
    
   
   transform: translate(38px, -33px);
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #2a5a58;
}

form > a.botao {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2a5a58;
    border: 1px solid #49a09d;
    border-radius: 7px;
   
}

form > a.botao:hover{
    background-color: #60d4d1;
   
}

form > a.botao > span {
    font-size: 0.8em;
    transform: translateY(2px);   
}

   

/* ------ Media-query ------ */

/* Typical Device Breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px 
Desktop: 992px até 1200px 
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
   
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 82vw;
        height: 310px;
    }

    section#login > div#imagem{
        float: left;
        width: 36%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 61%;  
        
    }

    div.campo > input {
    font-size: 1em;
    width: calc(100% - 11%);
    height: 80%;            
    border: 0;
    border-radius: 8px;
    margin: 5px;
   
   transform: translate(38px, -33px);
}


}

@media screen and (min-width: 992px) {
    
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 950px;
        height: 350px;

    }

    section#login > div#imagem{
        float: left;
        width: 45%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 50%;  
        
    }

    div#formulario > h1 {
    font-size: 2em;
    }

    div#formulario > p {
    font-size: 1em;
    margin: 20px 0px;
    }

    div.campo > input {
    font-size: 1em;
    width: 423px;
    height: 80%;            
    border: 0;
    border-radius: 8px;
    margin: 5px;
   
   transform: translate(38px, -33px);
}


}

